#root {
  height: 100%;
  background: url("./images/entering-alt.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}
.canada svg {
  fill: red;
}
.chakra-text svg {
  display: inline-block;
}
